body{-webkit-touch-callout:none;-webkit-user-select:none;  
    -webkit-text-size-adjust:none;-webkit-appearance:none;  
    -webkit-tap-highlight-color:transparent;-webkit-user-drag: none;background: --#efeff5;
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif "微软雅黑";
  }
 input,textarea{outline:none;border: none;
 	  -webkit-user-modify: read-write-plaintext-only;
 	  -webkit-tap-highlight-color: rgba(255,255,255,0);/*webkit谷歌内核去除高亮边框*/}    
 input[type="text"]:focus, input[type="password"]:focus,textarea:focus{box-shadow:inset 0 0px 0px rgba(0,0,0,0.075),0 0 8px rgba(255, 255, 255, 0.6);}

a, img{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;text-decoration: none} 
a:hover{text-decoration: none}

div, form, dl, dd, dt, ul, li, p, img, a, span, pp, s1, s2, s3, s4, input {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
h1, h2, h3, h4, h5, h6, h7, h8 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
img {
	vertical-align: middle;
	width: 100%
}
.clear {
	clear: both;
}
.body {
	width: 100%;
	height: auto
}
.guangao {
	width: 100%;
}
.guangao1 {
	width: 100%;
}
.imgRadius4_title {
	position: absolute;
	width: 100%;
	bottom: 0%;
	left: 0;
	font-size: 1.5em;
	line-height: 2em;
	text-align: center;
	color: #e94627;
}
.imgRadius4_title.le {
    text-align: left;
    width: 50%;
    padding-left:10%;
}
.imgRadius4_title.ri {
    text-align: right;
    width: 50%;
    left: 40%;
    padding-right: 10%;
}
.logo {
	width: 100%;
	position: relative;
	text-align: center;
	    height: 132px;
}
.fanhui {
	width: 100%;
	float: left;
}

.fanhui1 {
	width: 5%;
	float:left;
	margin: 5% 0% 0% 5%
}
.fanhui3 {
	width: 7%;
	float: right;
	margin: 5% 5% 0% 0%
}
.logo1 {
	width: 50%;
	margin: 0 auto
}
.zhongjian {
	width: 90%;
	margin: 0% 5%;
	position: relative;
	    text-align: center;
	height: 115px;    
}
.imgRadius2_title {
    position: absolute;
    width: 84%;
    top: 25%;
    left: 7%;
    font-size: 1em;
    line-height: 2em;
    color: #f16100;
    background-color: #ffd61a;
    height: 82px;
    padding-left:2% 
}
.touxiang{ width:55%; margin:0 auto;}
/* 大转盘样式 */
.zhongjian p {float: left}

.banner {
	display: block;
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.banner .turnplate {
	display: block;
	width: 100%;
	position: relative;
}
.banner .turnplate canvas.item {
	width: 100%;
}
.banner .turnplate img.pointer {
	position: absolute;
	width: 31.5%;
	height: 56.5%;
	left: 34.6%;
	top: 9%;
}
.wenzi{ width:80%; padding:5% 10%; color:#f16100; font-size:1.3em; line-height:2em}
.newss {
	background: #f16100;
	border: 2px solid #f16100;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	width: 100%;
	height: 34px;
	line-height: 24px;
	text-align: center;
	padding-top: 10px; margin-bottom:6%;
}
.newss1 {
	background: #382600;
	border: 2px solid #382600;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	width: 100%;
	height: 34px;
	line-height: 24px;
	text-align: center;
	padding-top: 10px; margin-bottom:6%;
}
.newss2 {
	background: #f16100;
	border: 2px solid #f16100;
	border-radius: 10px;
	-moz-border-radius: 10px;
	
	width: 100%;
	height: 34px;
	line-height: 24px;
	text-align: center;
	padding-top: 10px; margin-bottom:6%;
}
.newss3 {
	background: #ffb401; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	width: 25%;
	height: 22px;
	line-height: 13px;
	text-align: center;
	padding-top: 10px; margin-bottom:6%; margin-left:5%
}

a:hover, .menu a.on {
	color: #fff;
}
a {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	display: block;
}
.kuan4 {
	width: 90%;
	margin: 0 auto;
	background: #FFF;
	margin-top: 5%
}
.inp1 {
	width: 90%;
	margin: 0px auto;
	height: 41px;
	padding-top: 10px;
}


.inp1 div {
	float: left;
	
}
.chacha {
	float: right;
	display: none
}
.codein {
	width: 100%;
	height: 31px;
	font-family: 微软雅黑;
	font-size: 1em
}
.codein1 {
	width: 20%;
	height: 31px; 
	font-size: 0.8em;border: 1px solid #cccccc;
}

.jiaozhu {
	width: 100%;
	
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #ffffff
}
.wenben{ width:70%; border:1px solid #e1e1e1; height:30px; float:left; } 
.wenben1{ width:40%; border:1px solid #e1e1e1; height:30px; float:left; } 
.wenzi2{ font-size:1.1em; color:#999; float:left; line-height:30px; width:25%}